<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-text color="Primary">
        <h1>Click Foto Untuk Upload</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let isiFoto of fotoService.dataFoto; index as position">
        <ion-img [src]="isiFoto.webviewPath" (click)="uploadfoto(isiFoto)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="TambahFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
