<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Pribadi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Data Pribadi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <h1>Fransiscus Stephanus</h1>
      </ion-text>
      <ion-text color="dark">
        <h1>08123456789</h1>
      </ion-text>
      <ion-text color="dark">
        <h1>c14180113@john.petra.ac.id</h1>
      </ion-text>
      <ion-text color="dark">
        <h1>c14180113</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
